if theme.aside.card_author
  include widget/card_author

if theme.aside.card_announcement
  include widget/card_announcement

if theme.aside.card_recent_post
  include widget/card_recent_post

if theme.aside.card_categories
  include widget/card_categories

if theme.aside.card_tags
  include widget/card_tags

if theme.aside.card_archives
  include widget/card_archives

if theme.aside.card_webinfo
  include widget/card_webinfo
